body,
html {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: #1890ff;
  text-decoration: none;
}

a:hover {
  color: #5eaad6;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
}
// ::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }
.layout::-webkit-scrollbar,
.items::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

html {
  font-size: 16px;
}
@media (max-width: 500px) {
  html {
    font-size: 0.8rem;
  }
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

input {
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

.red {
  color: #e74c3c;
}
.green {
  color: #2ecc71;
}

.yellow {
  color: #f1c40f;
}
.ps__rail-x,
.ps__rail-y {
  z-index: 12;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.CodeMirror {
  font-family: -apple-system, sans-serif !important;

  .cm-comment {
    font-family: 'Fira Code', Monaco, monospace;
  }
  &.cm-s-3024-day span.cm-string {
    color: #3498db;
  }
  &.cm-s-3024-day span.cm-comment {
    color: #27ae60;
  }
}

.vue-codemirror.focus .CodeMirror {
  .CodeMirror-code {
    > :not(.CodeMirror-activeline) {
      opacity: 0.6;
    }
    > div {
      transition: opacity 0.5s;
    }
  }
}

.v-modal {
  display: none;
}
.el-drawer__wrapper {
  * {
    outline: none;
  }
  .el-drawer__body {
    margin: 1rem;
  }
}
.el-drawer {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    1000px 1000px 1000px 10000px rgba(0, 0, 0, 0.7) !important;
}
.el-dialog {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    1000px 1000px 1000px 10000px rgba(0, 0, 0, 0.7) !important;
}
.el-notification {
  cursor: pointer;
}
